*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --clr: #060c21;
}
body{
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:var(--clr) ;
}
.navigation{
    position: relative;
    height: 70px;
    width: 635px;
    padding-left: 30px;
    background:#060c21;
    display: flex;
    justify-content: center;
    border: 4px solid #fff;
    align-items: center;
    border-radius: 10px;
    z-index: 999;
    text-decoration: none;
}
.navigation ul{
    display: flex;
    width: 350px;
}
.navigation ul li{
    position: relative;
    list-style: none ;
    height: 70px;
    width: 70px;
}
.navigation ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
    text-decoration: none;
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: #fff;
    background:linear-gradient(red,orange,yellow,);
    text-decoration: none;

}
.navigation ul li:hover a .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transform: translateY(-35px);
    width: 70px;
    height: 70px;
    background: linear-gradient(90deg,#88ff0068,#89ff00,#00bcd4, #00bcd4,#89ff00,#88ff0068);
    border-radius: 50%;
    border: solid ;
    transition: 0.5s;
    border: 4px solid #060c21;
    color: #060c21;
    text-decoration: none;
    /* glossey effect */
}
.navigation ul li a .text{
    position: absolute;
    color: #00bcd4;
    font-size: 0.75em;
    font-weight: 400;
    transition: 0.5s;
    opacity: 0;
    text-decoration: none;
    transform: translateY(20px);
    z-index: 100;
}
.navigation ul li:hover a .text{
    opacity: 1;
    transform: translateY(10px);
    

}
.navigation1{
    position: relative;
    height: 70px;
    width: 635px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #060c21;
    border-radius: 10px;
}

.navigation1:before
{
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: 1;
    border-radius: 10px;
}
.navigation1:after
{
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(60px);
    border-radius: 10px;
}
.navigation1:after,
.navigation1:before{
    background: linear-gradient(235deg,#89ff00, #00bcd4,#89ff00);
    border-radius: 10px;
}
/* text */
.container{
    display: inline;
}
.jab {
    margin-left: 0px;
    color: rgb(71, 65, 69);

    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .12em solid  #00bcd4;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 1 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .12em;
    /* Adjust as needed */
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-start;
    margin-top: 325px;



}